::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;

}

.hide-scrollbar::-webkit-scrollbar
{
	display: none;
	background-color: #F5F5F5;
    border-radius: 30px;

}

::-webkit-scrollbar-thumb
{
    border-radius: 30px;
	background-color: #32b9a9;
}